
*{
    margin: 0;
    padding: 0;
}

#container{
    width: 100%;
    min-height: 100%;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    width: 100%;
    height: 50px;
    background: #abcd;
    position: fixed;
    margin-bottom: 30px;
    top: 0;
    

}

#header-img{
    width: 80px;
    margin-left: 40px;
    
}

#nav-bar ul{
    list-style: none;
}

#nav-bar ul li {
    display: inline-block;
    margin-left: 20px;
    line-height: 80px;
    padding-right: 20px;
}

#nav-bar .nav-link{
    text-transform: uppercase;
    text-decoration: none;
}

#product {
    line-height: 1.4;
    min-height: 400px;
    margin-top: 100px;
    
    
    
}

.phones{
    display: flex;
    flex-direction: row;
    min-height: 400px;
    /* width: 600px; */
    align-items: strech;
    justify-content: space-between;
    
}

.photos{
    height: 400px;
    width: 400px;
}

.clsImg{
    max-width: 100%;
    max-height: 100%;
}


#specifications{
    width: 100%;
    min-height: 300px;
    background: #edc;
    margin-top: 200px;
    text-align: center;
    margin: 30px 30px 30px 0;
    
}

#prices{
    display: flex;
    min-height: 500px;
    width: 100%;
    background: #bca;
    margin: 20px 0;
   flex-direction: row;
   justify-content: space-between;
   
}

.phone1{
    height: 200px;
    width: 200px;
    border: 2px solid red;
    text-align: center;
}

.phone1 a{
    text-decoration: none;
    padding: 10px;
    background-color: red;
    width: 70%;


}




#footer{
    height: 100px;
    width: 100%;
    background: #abcd;
    
    
}

.inner-footer{
    text-align: center;
    margin-top: 10px;
}














































